<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Index.html Test Page 2</title>
</head>

<body>
<header th:replace="layout :: site-header"/>
<div class="container">

    <h3>Welcome to the test html page</h3>
    <p>Owner of this server is {{ owner }}</p>
    <p>There is literally nothing but thanks for visiting though. You can also do the following steps:<p>
    <ol>
        <li>You can buy me a drink <i>Budvar if possible</i> I would really appreciate.</li>
        <li>You can hire me <i>IM BEGGING YOU</i> please.</li>
        <li>Also you can buy me some games on steam idk.</li>
        <li>If you're a girl then send me <i>bobs and vagana</i> (please dont).</li>
    </ol>
    <p>Server Host Name {{ ansible_hostname }}</p>
    <p>Server OS Family is {{ ansible_os_family }}</p>
    <p>IP address of the server is {{ ansible_default_ipv4.address }} </p>
    <div>
</body>
</html>
